*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: sans-serif;  
}


.container{
    margin: auto;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: #FCFCFC;
}
.calculator{
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
     padding: 20px;
     border-radius: 10px;
   background-color: #ecf0f3;
    
    
}
input {
    grid-column: span 4;
   height: 60px;
    border: none;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    font-size: 20px;
    margin-bottom: 10px;
    border-radius: 12px;
    padding: 10px;
    outline: none;
    text-align: end;

}
.equel-btn{
    grid-column: span 2 !important;
    background-color: orange;
    border: none;
    border-radius: 30px;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    cursor: pointer; 
}

.buttons{
    /* box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px; */
    box-shadow: -5px -5px 12px #ffff, 5px 5px 12px rgba(0,0,0,.16);
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
     background-color: #ecf0f3;
    color: black; 
    border: none; 
    font-size: 16px;
    cursor: pointer; 
    transition: background-color 0.3s ease;
}
.buttons:hover{
   
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;

}