*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: sans-serif;  
}


.container{
    margin: auto;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: #9498A7;
}
.calculator{
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
     padding: 20px;
     border-radius: 10px;
  
   background-color: white;
 
    
    
}
input {
    grid-column: span 4;
   height: 70px;
    border: none;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    font-size: 20px;
    margin-bottom: 10px;
    border-radius: 12px;
    padding: 10px;
    outline: none;
    text-align: end;
    background-color: #ecf0f3

}
.equel-btn{
    grid-column: span 2 !important;
    background-color: orange;
    border: none;
    border-radius: 30px;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    cursor: pointer; 
    transition: background-color 0.3s ease;
}

.buttons{
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
     
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
     background-color: #ecf0f3;
    color: black; 
    border: none; 
    font-size: 16px;
    cursor: pointer;  
    transition: background-color 1s ease;
    font-family: "Cascadia Code",Consolas,Monaco,"Andale Mono","Ubuntu Mono",monospace;
    color: #2a1f62;
    background: #f5f5fa;
   
    transition: .2s;
  
}
button:hover{
    background-color: #fff;
}

.sp-colur{
    background-color: orange !important;
   
}






        

